@import url('/static/Ramabhadra/Ramabhadra-Regular.ttf');

/* h1 {
    font-family: Ramabhadra;
} */

/* 
body {
    font-family: Helvetica, sans-serif;
    /* background-color: #F24940; */
    /* color: #; */
    /* text-align: center; */
    /* height: 100%; */
/* } */ 

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skill-item {
  border-radius: 8px;
  background: #df847d;
  padding: 5px;
  width: 80px;
  height: 40px;
}

.genre-item {
  border-radius: 8px;
  background: #e9ecef;
  padding: 5px;
  width: 100px;
  height: 50px;
}
  
  li {
    display: inline;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .user_icon {
      max-width:6%;
      height:auto;
  }

