@import url('/static/Ramabhadra/Ramabhadra-Regular.ttf');

h1 {
    font-family: Ramabhadra;
}

body {
    font-family: Helvetica, sans-serif;
    /* background-color: #F24940; */
    /* color: #; */
    /* text-align: center; */
    height: 100%
}

form {
    background-color: white;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    
}

input[type=text] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    display: inline-block;
    float: right;

    }

input[type=password] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    display: inline-block;
    float: right;
}

div {
    border-radius: 25px;
    width: 300px;
    border: 10px; 
    border-style: solid;
    border-color: #F24940;
    padding: 8px;
    margin: auto;
    
}

