@import url('/static/Ramabhadra/Ramabhadra-Regular.ttf');

/* h1 {
    font-family: Ramabhadra;
} */

/* 
body {
    font-family: Helvetica, sans-serif;
    /* background-color: #F24940; */
    /* color: #; */
    /* text-align: center; */
    /* height: 100%; */
/* } */ 

#skill-list ul{
    list-style: none;
  }
  #skill-list li{
    display: inline;
  }

