<!doctype html>
<html>
  <head>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- custom -->
    <link rel="stylesheet" href="static/style.css">
    <!-- intl-tel-input plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title>
      {% block title %}Instajam{% endblock %}
    </title>

    <link rel="icon" 
      type="image/png" 
      href="static/jammy.png">

    {% block head %}{% endblock %}
  </head>

  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img src="static/jammy.png" alt="Instajam's logo">
      </a>
      <h1>Instajam</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dashboard">Dashboard</a>
          </li>
          {% if user_type == None %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>


    {% for msg in get_flashed_messages() %} 
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
    
    <!-- jQuery script tag -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous">
    </script>
    
    <!-- Script tags from getbootstrap.com -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  </body>

  <script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/utils.js",
    });
  </script>
</html>