{% extends 'base.html' %}
{% block title %}Instajam{% endblock %}

{% block body %}
  <h1>Musician Details</h1>
  <form action="/create-musician" method="POST"> 
    <p>
      Email: <input type="text" name="email">
    </p>

    <p>
      Password: <input type="password" name="password">
    </p>

    <p>
      Display Name: <input type="text" name="display_name">
    </p>

    <p>
      Age: <input type="text" name="display_name">
    </p>

    <p>Gender:</p> 
    <input type="radio" id="male" name="gender">
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender">
    <label for="female">Female</label>
    <input type="radio" id="nonbinary" name="gender">
    <label for="nonbinary">Nonbinary</label>
    <input type="radio" id="other" name="gender">
    <label for="other">Other</label>
	
    <p>Location: </p>
    <input type="radio" id="New York City" name="location">
    <label for="New York City">New York City</label>
    <input type="radio" id="Los Angeles" name="location">
    <label for="Los Angeles">Los Angeles</label>

    <p>Influences:</p> 
    <input type="text" name="influences">

    <p>About me:</p> 
    <input type="text" name="description">
    
    <p>Instruments played:</p>
    <input type="checkbox" id="banjo" name="banjo" value="Banjo">
    <label for="banjo">Banjo</label><br>
    <input type="checkbox" id="bass" name="bass" value="bass">
    <label for="bass">Bass</label><br>
    <input type="checkbox" id="cello" name="cello" value="cello">
    <label for="cello">Cello</label><br>
    <input type="checkbox" id="drums" name="drums" value="drums">
    <label for="drums">Drums</label><br>
    <input type="checkbox" id="flute" name="flute" value="flute">
    <label for="flute">Flute</label><br>
    <input type="checkbox" id="guitar" name="guitar" value="guitar">
    <label for="guitar">Guitar</label><br>
    <input type="checkbox" id="keyboard" name="keyboard" value="keyboard">
    <label for="keyboard">Keyboard</label><br>
    <input type="checkbox" id="piano" name="piano" value="piano">
    <label for="piano">Piano</label><br>
    <input type="checkbox" id="trumpet" name="trumpet" value="trumpet">
    <label for="trumpet">Trumpet</label><br>
    <input type="checkbox" id="violin" name="violin" value="violin">
    <label for="violin">Violin</label><br>
    <input type="checkbox" id="vocals" name="vocals" value="vocals">
    <label for="vocals">Vocals</label><br>
    <input type="checkbox" id="saxophone" name="saxophone" value="saxophone">
    <label for="saxophone">Saxophone</label><br>
    <input type="checkbox" id="synth" name="synth" value="synth">
    <label for="synth">Synth</label><br>

    <p><input type="submit"></p>

  </form>
  
{% endblock %}