{% extends 'base.html' %}
{% block title %}Instajam{% endblock %}

{% block body %}
  <h2>Dashboard</h2>

  <p>Hello, {{ display_name }}!</p>

  <div>
    <h3>{{ display_name }}</h3>

    Location: {{ location }}
    
    {% if user_type == 'band' %}
        <ul id="skill-genre-lists">
          Seeking:
          {% for skill in seeking %}
          <li>{{ skill.skill_name }}</li>
            {% endfor %}
        </ul>
      
    {% else %}
    <ul id="skill-genre-lists">
      Talents:
      {% for skill in skills %}
      <li>{{ skill.skill_name }}</li>
        {% endfor %}
    </ul>
      {% endif %} 

    About: {{ description }} <br>

    <ul id="skill-genre-lists">
      Genre: 
      {% for genre in genres %}
      <li>{{ genre.genre_name }}</li>
        {% endfor %}
    </ul>


    Influences: {{ influences }} <br>
    <br>
  </div>
  
  <a href="/match-queue">Match Queue</a>
  <a href="matched">My Matches</a>
{% endblock %}
