{% extends 'base.html' %}
{% block title %}Instajam{% endblock %}

{% block body %}
  <h1>Dashboard</h1>
  <p>Hello, {{ display_name }}!</p>
  <h2>Profile</h2>
  <div>
    <h3>{{ display_name }}</h3><br>
    Location: {{ location }} <br>
      {% if user_type == 'band' %}
      Seeking: {{ display_name }} after skills go here <br>
      {% else %}
      Talents: Skill list goes here 
      {% endif %}
    About: {{ description }} <br>
    Genre: Genre list goes here <br>
    Influences: {{ influences }} <br>
      {% if user_type == 'band' %}
      Members: {{ display_name }} members go here <br>
      {% endif %}
    <br>
  </div>
  
  <a href="/match-queue">Match Queue</a>
  <a href="matched">My Matches</a>
{% endblock %}
