{% extends 'base.html' %}
{% block title %}Instajam{% endblock %}

{% block body %}


  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum blandit aliquet. Quisque hendrerit vel nunc vitae ullamcorper. 
    Nunc vehicula erat a orci finibus, eu hendrerit ipsum suscipit. Aenean placerat dolor a ipsum lacinia maximus. 
    Mauris mollis enim velit, et facilisis tortor tempor nec. Duis congue enim odio, a finibus arcu placerat quis.
  </p>

  <li><a href="/sign-up">Sign Up</a></li>
  <li><a href="/login">Login</a></li>

{% endblock %}