{% extends 'base.html' %}
{% block title %}Instajam{% endblock %}

{% block body %}
  <h1>Login</h1>
  <p>Welcome back!</p>
  <form action='handle-login-band' method='POST'> 
    Bands 
    <p>
      Email: <input type="text" name="email">
    </p>

    <p>
      Password: <input type="password" name="password">
    </p>
    <input type='submit'></input>
  </form>
  <form action='handle-login-musician' method='POST'>
    Musicians 
    <p>
      Email: <input type="text" name="email">
    </p>

    <p>
      Password: <input type="password" name="password">
    </p>
    <input type='submit'></input>
  </form>

<!-- <form>
    <p>
      Email: <input type="text" name="email">
    </p>

    <p>
      Password: <input type="password" name="password">
    </p>
    <input type='submit'></input> -->
<!-- </form> -->
{% endblock %}
