{% extends 'base.html' %}
{% block title %}Instajam{% endblock %}

{% block body %}
  <h1>Match Queue</h1>

  <!-- display each match's profile  -->
  {% for match in found_matches %} 
    {{ match.display_name }}

    <!-- shows matched bands for musician users  -->
    {% if user_type == 'musician' %}
      <ul id="skill-genre-lists">
        Seeking:
        {% for skill in match.skills %}
        <li>{{ skill.skill_name }}</li>
        {% endfor %}
      </ul>
    <!-- shows matched musicians for band users  -->
    {% else %}
      <ul id="skill-genre-lists">
        Talents:
        {% for skill in skills %}
        <li>{{ skill.skill_name }}</li>
        {% endfor %}
      </ul>
    {% endif %} 

    {{ match.location }}
    {{ match.description }}

    <ul id="skill-genre-lists">
      Genre: 
      {% for genre in match.genres %}
      <li>{{ genre.genre_name }}</li>
        {% endfor %}
    </ul>

    {% endfor %}

  


  <!-- for every match in Matches
    matches = []
  render profile
  if matched is clicked:
    add to matches
  add to matched  -->

{% endblock %}


<!-- should I have a page showing all matches or, 
once someone chooses to match with a user, 
the contact button, they are prompted to contact them ? -->